body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.products, .cart {
    border: 1px solid #ccc;
    padding: 10px;
    width: 45%;
}

.products .product, .cart ul {
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.product button:hover {
    background-color: #218838;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.btn button{
    font-weight: 700;
    margin-left: 20px;
    color: #397f3e;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
   
}

.btn button:hover{
    background: #fcf9ed;
    color: #306b34;
    transform: scale(1.1);
}