body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcf9ed;
}
header {
    background: #397f3e;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 15px;
}
main {
    padding: 2rem;
}
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}
.product {
    background-color: #fcf9ed;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 7px;
    text-align: center;
}
.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}
.product h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.product p {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}
.product button {
    background-color: #397f3e;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.product button:hover {
    background-color: #306b34;
    transform: scale(1.1);

}
input{
    border-radius: 30px;
    border: none;
    outline: none;
    background:#fcf9ed;
    text-align: center;
    font-size:larger;
    width: 400px; 
    height: 35px;  
}
.boton{
    background-color: #fcf9ed;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease 0s;
    padding: 2px;
    
}
.boton:hover{
    transform: scale(1.1);
}
i{
    cursor: pointer;
    color: #397f3e;
}
.filtro{
    font-size: 35px;
    align-items: center;
    color: #fcf9ed;
    padding: 10px;
    transition: all 0.3s ease 0s;

}
.filtro:hover{
    transform: scale(1.1);


}
.header .btn button{
    font-weight: 700;
    margin-left: 20px;
    color: #397f3e;
    padding: 9px 25px;
    background: #fcf9ed;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.header .btn button:hover{
    background: #fcf9ed;
    color: #306b34;
    transform: scale(1.1);
}




/*se despliega menu al pasar el mouse*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background:#fcf9ed;
    
    
}   
         /* Estilos para el buscador */
         #searchContainer {
            position: relative;
            width: 300px;
        }

        #searchInput {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        /* Estilos para la lista de sugerencias */
        #suggestions {
            position: absolute;
            top: 40px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            z-index: 1000;
        }

        .suggestion-item {
            padding: 10px;
            cursor: pointer;
        }

        .suggestion-item:hover {
            background-color: #f0f0f0;
        }

        /* Resaltado de coincidencias */
        .highlight {
            font-weight: bold;
            color: red;
        }

        /* Ocultar sugerencias por defecto */
        .hidden {
            display: none;
        }